<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <!--(bake ../includes/_head.html page_title="Edulastic: Interactive Common Core Formative Assessments" css_file="main")-->
  <meta name="keywords" content="edulastic, learning, assessments, etc.">
  <meta name="description" content="Spark engagement and get a complete view of student learning with easily customized PARCC- and SBAC-like assessments and instant online insights.">
  <script src="//cdn.optimizely.com/js/2849070392.js"></script>
</head>
<body>
  <!--(bake ../includes/_header.html active_page="main")-->
  <div id="content" role="content" tabindex="-1">
    <section id="top-banner">
      <div class="container">
        <div class="row">
          <div class="banner-content col-xs-12 col-sm-12">
            <h1 class="banner-heading f40">Turn Assessment Into Your Ally.</h1>
            <span class="f24">Now it’s the learning tool it should be.</span>
            <a href="#" class="btn btn-primary btn-lg rounded-blue-btn cta f20" role="cta" data-video-link="//preview.edulastic.com/demo/assessmentPreview?aId=ODE4NDk3ODk%3D" data-video-title="" data-video-width="1024" data-video-height="600" data-target="#assessmentModal" data-toggle="modal" onclick="ga('send', 'event', { eventCategory: 'Preview Button', eventAction: 'Click', eventLabel: 'Hero Image Button'});">Try a Tech-Enhanced Assessment</a>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <img src="/images/hero-image.png" width="1385" height="636" alt="">
      </div>
    </section>
    <section id="display-prod" class="gradient-bg-w-g">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="promo-content">
              <h2 class=""><span class="block">Keep tabs on what students know and what they don’t.</span><span class="block">And keep your instruction on track.</span></h2>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class="ipad-home-animate">
              <img src="/images/ipad-animate.gif" width="633" alt="">
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <ul>
              <li>30+ SBAC- and PARCC-like question types</li>
              <li>Immediate data with automatic grading</li>
              <li>More than 2,000 assessments created by experts, customizable by you</li>
              <li>Collaborate & share assessments privately within your school or district</li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="gray-light" id="card-holder">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="card">
              <div class="row">
                <div class="card-item col-sm-12 col-md-12"><a href="/teachers">Free Teacher Version</a></div>
                <div class="content-holder col-sm-12 col-md-12">
                  <p class="f16">Instantly gauge student learning and track mastery of Common Core standards throughout the year. Save time with auto-grading.</p>
                </div>
                <div class="col-sm-12 col-md-12"><a href="//app.edulastic.com/#signup" target="_blank" class="btn btn-primary btn-lg rounded-blue-btn cta f20 align-middle" role="cta" onclick="ga('send', 'event', { eventCategory: 'CTA Button', eventAction: 'Click', eventLabel: 'Try Now Button'});">Create a Free Account</a></div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="card">
              <div class="row">
                <div class="card-item col-sm-12 col-md-12"><a href="/districts">Enterprise Version for Districts</a></div>
                <div class="content-holder col-sm-12 col-md-12">
                  <p class="f16">Stay on top of student progress with ongoing data from interim and benchmark assessments, as well as from classroom formative activities.</p>
                </div>
                <div class="col-sm-12 col-md-12"><a href="//www.edulastic.com/demo" class="btn btn-primary btn-lg rounded-blue-btn cta f20 align-middle" target="_blank" role="cta" onclick="ga('send', 'event', { eventCategory: 'CTA Button', eventAction: 'Click', eventLabel: 'Demo Request Button'});">See a Demo</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="brand-logos">
      <div class="container">
        <div class="row">
          <ul class="list-inline">
            <li><a href="/press"><img src="/images/eSchool.png" alt=""></a></li>
            <li><a href="/press"><img src="/images/edSurge.png" alt=""></a></li>
            <li><a href="/press"><img src="/images/gettingSmart.png" alt=""></a></li>
            <li><a href="/press"><img src="/images/theJournal.png" alt=""></a></li>
            <li><a href="/press"><img src="/images/techLearning.png" alt=""></a></li>
          </ul>
        </div>
      </div>
    </section>
    <section id="map-area" class="gray-lighter">
      <div class="container">
        <div class="row">
          <p class="col-xs-12 col-sm-12 col-md-3 desc-area f24">Join teachers from more than <span class="darker">21,000</span> schools who are using Edulastic to promote student learning.</p>
          <div class="col-xs-12 col-sm-12 col-md-9 pics-wrapper">
            <ul class="pics-holder">
              <li class="pic-grid-item">
                <div class="profile-pic-holder">
                  <div class="img-holder">
                    <img src="/images/Caise-Jones.jpeg" alt="">
                  </div>
                  <div class="profile-description"><span>Casie Jones</span><small>Instructional Coach, Shelby County Alternative Schools</small></div>
                </div>
              </li>
              <li class="pic-grid-item">
                <div class="profile-pic-holder">
                  <div class="img-holder">
                    <img src="/images/Damion-Frye.png" alt="">
                  </div>
                  <div class="profile-description"><span>Damion Frye</span><small>Special Assistant for Curriculum & Instruction, Newark Public Schools</small></div>
                </div>
              </li>
              <li class="pic-grid-item">
                <div class="profile-pic-holder">
                  <div class="img-holder">
                    <img src="/images/Chris-Aviles.jpeg" alt="">
                  </div>
                  <div class="profile-description"><span>Chris Aviles</span><small>Ed Tech Coach, Fair Haven School District</small></div>
                </div>
              </li>
              <li class="pic-grid-item">
                <div class="profile-pic-holder">
                  <div class="img-holder">
                    <img src="/images/Joshua-Koen.jpg" alt="">
                  </div>
                  <div class="profile-description"><span>Joshua Koen</span><small>Special Assistant, Technology, Newark Public Schools</small></div>
                </div>
              </li>
              <li class="pic-grid-item">
                <div class="profile-pic-holder">
                  <div class="img-holder">
                    <img src="/images/Chris-Bolognese.jpg" alt="">
                  </div>
                  <div class="profile-description"><span>Chris Bolognese</span><small>Instructional Leader, Upper Arlington Schools</small></div>
                </div>
              </li>
              <li class="pic-grid-item">
                <div class="profile-pic-holder">
                  <div class="img-holder">
                    <img src="/images/Jason-Braddock.jpg" alt="">
                  </div>
                  <div class="profile-description"><span>Jason Braddock</span><small>Founding Chief Administrative Officer, Valley STEM+ME2 Academy, Mahoning County</small></div>
                </div>
              </li>
              <li class="pic-grid-item">
                <div class="profile-pic-holder">
                  <div class="img-holder">
                    <img src="/images/Stefanie-Gigante.jpeg" alt="">
                  </div>
                  <div class="profile-description"><span>Stefanie Gigante</span><small>Latin Teacher, Ridgewood Public Schools</small></div>
                </div>
              </li>
              <li class="pic-grid-item">
                <div class="profile-pic-holder">
                  <div class="img-holder">
                    <img src="/images/Craig-Kennedy.jpg" alt="">
                  </div>
                  <div class="profile-description"><span>Craig Kennedy</span><small>Social Studies Teacher, Frelinghuysen Middle School</small></div>
                </div>
              </li>
              <li class="pic-grid-item">
                <div class="profile-pic-holder">
                  <div class="img-holder">
                    <img src="/images/Dana-Collins.jpeg" alt="">
                  </div>
                  <div class="profile-description"><span>Dana Collins</span><small>Supervisor, Math and Science, Flemington-Raritan School District</small></div>
                </div>
              </li>
              <li class="pic-grid-item">
                <div class="profile-pic-holder">
                  <div class="img-holder">
                    <img src="/images/Bryan-Ballenger.jpg" alt="">
                  </div>
                  <div class="profile-description"><span>Bryan Ballenger</span><small>Superintendent / Principal, Ballico-Cressey School</small></div>
                </div>
              </li>
              <li class="pic-grid-item">
                <div class="profile-pic-holder">
                  <div class="img-holder">
                    <img src="/images/Erik_Yates_headshot.jpg" alt="">
                  </div>
                  <div class="profile-description"><span>Erik Yates</span><small>Supervisor, Math, Science and Technology, Readington Public Schools District</small></div>
                </div>
              </li>
              <li class="pic-grid-item">
                <div class="profile-pic-holder">
                  <div class="img-holder">
                    <img src="/images/Lisa-Brizuela.jpg" alt="">
                  </div>
                  <div class="profile-description"><span>Lisa Brizuela</span><small>Science Teacher, Milpitas High School</small></div>
                </div>
              </li>
              <li class="pic-grid-item">
                <div class="profile-pic-holder">
                  <div class="img-holder">
                    <img src="/images/Jennifer-Kimbrell.jpg" alt="">
                  </div>
                  <div class="profile-description"><span>Jennifer Kimbrell</span><small>Educational Consultant and Curriculum Designer, Tech with Jen, LLC.</small></div>
                </div>
              </li>
              <li class="pic-grid-item">
                <div class="profile-pic-holder">
                  <div class="img-holder">
                    <img class="janet-img" src="/images/Janet-Flannery.jpg" alt="">
                  </div>
                  <div class="profile-description"><span>Janet Flannery</span><small>AP & Honors Statistics Stewarts Creek High School Rutherford County</small></div>
                </div>
              </li>
              <li class="pic-grid-item">
                <div class="profile-pic-holder">
                  <div class="img-holder">
                    <img src="/images/Kimberlee-Kelly.jpg" alt="">
                  </div>
                  <div class="profile-description"><span>Kimberlee Kelly</span><small>Social Studies Teacher & Digital Learning Coordinator, Alliance Simon Tech High School</small></div>
                </div>
              </li>
              <li class="pic-grid-item">
                <div class="profile-pic-holder">
                  <div class="img-holder">
                    <img src="/images/Harry-Dickens.jpg" alt="">
                  </div>
                  <div class="profile-description"><span>Harry Dickens</span><small>Author and Instructional Technology Consultant</small></div>
                </div>
              </li>
              <li class="pic-grid-item">
                <div class="profile-pic-holder">
                  <div class="img-holder">
                    <img src="/images/TonyZerrer.jpg" alt="">
                  </div>
                  <div class="profile-description"><span>Tony Zerrer</span><small>Teacher at Capistrano Unified School District</small></div>
                </div>
              </li>
              <li class="pic-grid-item">
                <div class="profile-pic-holder">
                  <div class="img-holder">
                    <img src="/images/Tiffany-Markley.png" alt="">
                  </div>
                  <div class="profile-description"><span>Tiffany Markley</span><small>​Instructional Technology Coordinator for Morgan County Charter School System​</small></div>
                </div>
              </li>
              <li class="pic-grid-item">
                <div class="profile-pic-holder">
                  <div class="img-holder">
                    <img src="/images/Trey-duke.png" alt="">
                  </div>
                  <div class="profile-description"><span>Trey Duke</span><small>​​Response to Intervention & Instructional Technology Coordinator, Rutherford County Schools</small></div>
                </div>
              </li>
              <li class="pic-grid-item">
                <div class="profile-pic-holder">
                  <div class="img-holder">
                    <img src="/images/Jackie-Williams.jpg" alt="">
                  </div>
                  <div class="profile-description"><span>Jackie Williams</span><small>​​​Instructional Technology Specialist, Rutherford County Schools</small></div>
                </div>
              </li>
              <li class="pic-grid-item">
                <div class="profile-pic-holder">
                  <div class="img-holder">
                    <img src="/images/jeannie-williams.png" alt="">
                  </div>
                  <div class="profile-description"><span>Jeannie Williams</span><small>​​​​District Instructional Technology Coach, Rutherford County Schools</small></div>
                </div>
              </li>
              <li class="pic-grid-item">
                <div class="profile-pic-holder">
                  <div class="img-holder">
                    <img src="/images/Natalie-O-Pough.jpg" alt="">
                  </div>
                  <div class="profile-description"><span>Natalie Odom Pough, Ed.D.</span><small>​​​Administrator, Sterling School</small></div>
                </div>
              </li>
              <li class="pic-grid-item">
                <div class="profile-pic-holder">
                  <div class="img-holder">
                    <img src="/images/tina.png" alt="">
                  </div>
                  <div class="profile-description"><span>Tina Faust</span><small>​​​Instructional Technology Specialist, Hawkins County Schools</small></div>
                </div>
              </li>
              <li class="pic-grid-item">
                <div class="profile-pic-holder">
                  <div class="img-holder">
                    <img src="/images/Sarah-Miner.png" alt="">
                  </div>
                  <div class="profile-description"><span>Sarah Miner</span><small>​​​Reading-Language Arts-Social Studies Teacher, Clarksville-Montgomery School District</small></div>
                </div>
              </li>
              <li class="pic-grid-item">
                <div class="profile-pic-holder">
                  <div class="img-holder">
                    <img src="/images/Jessica-McGuire.png" alt="">
                  </div>
                  <div class="profile-description"><span>Jessica McGuire</span><small>​​​Upper Classroom Teacher / Rural Schools Facilitator, Douglas Rural Schools</small></div>
                </div>
              </li>
              <li class="pic-grid-item">
                <div class="profile-pic-holder">
                  <div class="img-holder">
                    <img src="/images/teresascoggins.jpg" alt="">
                  </div>
                  <div class="profile-description"><span>Teresa Scoggins</span><small>​​​Technology Coach, Hopewell Elementary School</small></div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </section>
      <section class="create-new-ac">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <span class="create-new-desc">Get Started Now.</span>
            </div>
            <div class="col-xs-12 col-sm-6">
              <a class="btn btn-primary btn-lg f20 rounded-border-btn" href="//app.edulastic.com/#signup" onclick="ga('send', 'event', { eventCategory: 'CTA Button', eventAction: 'Click', eventLabel: 'Bottom Button'});">
                Create a Free Account
              </a>
            </div>
          </div>
        </div>
      </section>
      <!--(bake ../includes/_footer.html)-->
    </div>
    <!--Video Modal -->
  <div class="modal fade" id="videoModal1" tabindex="-1" role="dialog" aria-labelledby="videoModalTitle" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <a type="button" class="close modal-close-button" data-dismiss="modal" aria-label="Close">&times;</a>
        <div class="modal-header">
          <h4 class="modal-title" id="videoModalTitle"></h4>
        </div>
        <div class="modal-body">
          <iframe id="video-iframe1" src="" width="100%" src="" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
    <!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <!--(bake ../includes/_footer_scripts.html)-->
    <script>
      $(document).ready(function(){
        $('#videoModal1').on('show.bs.modal', function (event) {
      var trigger = $(event.relatedTarget); // Button that triggered the modal
      var videoTitle = trigger.data('video-title');
      var vidlink = trigger.data('video-link'); // Extract info from data-* attributes
      // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
      // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
      var modal = $(this);
      var width = trigger.data('video-width') ? trigger.data('video-width') : 320 ;
      var height = trigger.data('video-height') ? trigger.data('video-height') : 240;

      modal.find('.modal-title').text(videoTitle);
      modal.find('.modal-body iframe').attr('src',vidlink);

      // modal.find('.modal-body iframe').attr('width',width);
      // modal.find('.modal-body iframe').attr('height',height);

      $(this).find('.modal-body,.modal-dialog').css({
             /* width: width, //probably not needed
              height: height, //probably not needed */
              'max-height':'100%',
              'padding': 0
       });

    });

    $('#videoModal1').on('hide.bs.modal', function (event) {
      var modal = $(this);
      modal.find('.modal-body iframe').attr('src','');
    });

  });

    </script>
  </body>
  </html>
