<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <!--(bake ../includes/_head.html page_title="Free Common Core Formative Assessment Tool for Teachers" css_file="teacher")-->
  <meta name="description" content="Easily find out what students know and what they don’t so you can differentiate your instruction. Engage students and save time grading with technology-enhanced assessments.">
  <script src="//cdn.optimizely.com/js/2849070392.js"></script>
</head>
<body>
  <!--(bake ../includes/_header.html active_page="teacher")-->
  <div id="content" role="content" tabindex="-1">
    <section id="top-banner">
      <div class="container">
        <div class="row">
          <div class="banner-content col-xs-12 col-sm-12 col-md-7">
            <h1 class="banner-heading">Students Have Different Needs. You Have the Magic Tool.</h1>
            <a href="#" class="btn btn-primary btn-lg rounded-blue-btn cta f20" role="cta" data-video-link="//preview.edulastic.com/demo/assessmentPreview?aId=ODE4NDk3ODk%3D" data-video-title="" data-video-width="1024" data-video-height="600" data-target="#assessmentModal" data-toggle="modal" onclick="ga('send', 'event', { eventCategory: 'Preview Button', eventAction: 'Click', eventLabel: 'Hero Image Button'});">Try an Assessment</a>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <img src="/images/teacher-hero-img.png" width="859" height="462" alt="" />
      </div>
    </section>
    <section id="dist-prod">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="promo-content">
              <h2 class="block-heading">Engage students with interactive PARCC- and SBAC-like questions.</h2>
              <p class="f16">Create customized next-generation assessments with items from publishers or from your own curriculum. Choose from Drag & Drop, Sentence response, Graphing and more than 40 other technology-enhanced question types.</p>
              </div>
            </div>
          </div>
          <div class="col-xs-12">
            <div class="ipad-animate">
              <img src="/images/ipad-animate.gif" width="633" alt="">
            </div>
          </div>
        </div>
    </section>
    <section id="mastery-block" class="gray-lighter">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-5 pull-right">
            <div class="promo-content">
              <h2 class="block-heading">Spend time teaching, not grading.</h2>
              <p class="f16">Instantly see each student’s areas of security and struggle. Automatic grading and easy to understand reports show where you can adapt instruction and eliminate paperwork to give you more time to do it.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <img src="/images/teacher-img1.png" width="794" height="514" alt="" />
      </div>
    </section>
    <section id="dist-prod1">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-6">
            <div class="promo-content">
              <h2 class="block-heading">Don’t reinvent the wheel: share within your school or district</h2>
              <p class="f16">Customize your assessments from our bank of more than 10,000 items plus those shared by teachers in your school or district. Share your work with your colleagues or the whole Edulastic community.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <img src="/images/teacher-img2.png" width="632" height="513" alt="" />
      </div>
    </section>
    <section id="try-btn">
      <div class="container">
        <a href="#" class="btn btn-primary btn-lg rounded-blue-btn cta f20 align-middle" role="cta" data-video-link="//preview.edulastic.com/demo/assessmentPreview?aId=ODE4NDk3ODk%3D" data-video-title="" data-video-width="1024" data-video-height="600" data-target="#assessmentModal" data-toggle="modal" onclick="ga('send', 'event', { eventCategory: 'Preview Button', eventAction: 'Click', eventLabel: 'Benefits Button'});">Try an Assessment</a>
      </div>
    </section>
    <section id="dist-prod2" class="gray-lighter">
      <div class="container">
        <div class="row">
          <div class="col-md-offset-1 col-lg-offset-0 col-xs-12 col-sm-12 col-md-5 col-lg-6 pull-right">
            <div class="promo-content">
              <h2 class="block-heading">Teacher Training Support</h2>
              <p class="f16">Nearly 10,000 teachers across the country are getting immediate insight into student understanding through Edulastic formative assessments. To get your more reluctant staff up and running we have webinars and DIY training materials on our <a href="/teacher-training-hub">Teacher Training Hub</a> and we offer webinars and in-person professional development sessions with our premium subscriptions.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <img src="/images/dist-img3.png" width="640" height="465" alt="">
      </div>
    </section>
    <!-- <section id="card-holder">
      <div class="container">
        <div class="row"><span class="cards-heading block-heading">Free full version for teachers. Affordable for school districts.</span></div>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-6">
            <div class="card">
              <div class="row">
                <div class="img-holder col-xs-12 col-sm-6 col-md-12"><img src="/images/dist-img4.png" alt="" /></div>
                <div class="content-holder col-sm-12 col-md-12">
                  <div class="card-header text-center">
                    <h3>Teacher Version</h3>
                    <span>Free Forever</span>
                  </div>
                  <ul>
                    <li><span>30+ technology-enhanced question types</span></li>
                    <li><span>10K+ question Community-shared item bank</span></li>
                    <li><span>Class assessment performance reporting</span></li>
                    <li><span>Tracking of standards mastery by class</span></li>
                  </ul>
                </div>
                <a href="//app.edulastic.com/" target="_blank" class="btn btn-primary btn-lg rounded-blue-btn cta f20 align-middle try-it-btn" role="cta" onclick="ga('send', 'event', { eventCategory: 'CTA Button', eventAction: 'Click', eventLabel: 'Try Now Button'});">Try It Now</a>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6">
            <div class="card">
              <div class="row">
                <div class="img-holder col-xs-12 col-sm-6 col-md-12"><img class="img-pos2" src="/images/dist-img6.png" alt="" /></div>
                <div class="content-holder col-sm-12 col-md-12">
                  <div class="card-header text-center">
                    <h3>Enterprise Version for Districts and Schools</h3>
                    <span>Per Student Pricing</span>
                  </div>
                  <ul>
                    <li><span>Teacher Version for all teachers</span></li>
                    <li><span>District and school-wide assessment sharing</span></li>
                    <li><span>Performance, growth and common-core mastery reporting by building, grade, teacher and student</span></li>
                    <li><span>Integration with Student Information System</span></li>
                    <li><span>Single sign-on for students and teachers</span></li>
                    <li><span>Security and controls to enable centralized assessments</span></li>
                    <li><span>Professional development training and premium technical support</span></li>
                    <li><span>Premium publisher assessment banks available at additional charge</span></li>
                  </ul>
                </div>
                <a href="//www.edulastic.com/demo" class="btn btn-primary btn-lg rounded-blue-btn cta f20 align-middle demo-btn" target="_blank" role="cta" onclick="ga('send', 'event', { eventCategory: 'CTA Button', eventAction: 'Click', eventLabel: 'Demo Request Button'});">See a Demo</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> -->

    <section id="options" class="gradient-blue-green">
      <div class="container options-top">
        <div class="row">
          <div class="col-xs-12">
            <div class="promo-content">
              <h2 class="block-heading f32">Free for Teachers. Affordable for Schools & Districts.</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="container cards">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-4">
            <div class="card">
              <div class="title">
                <h2 class="f32 font-thin">Teacher Version</h2>
              </div>
              <div class="color-strip first">
                <p>Free Forever</p>
              </div>
              <div class="bullets">

                <div class="list-item row">
                  <div class="item-icon col-xs-2"><img src="/images/dist-options-1.png" alt=""></div>
                  <div class="item-text col-xs-10">
                    <h3 class="f16">Unlimited Assessments</h3>
                    <p>Create as many classes & students as you need.</p>
                  </div>
                </div>

                <div class="list-item row">
                  <div class="item-icon col-xs-2"><img src="/images/dist-options-2.png" alt=""></div>
                  <div class="item-text col-xs-10">
                    <h3 class="f16">60K & Growing Item Bank</h3>
                    <p>Edulastic Certified for Grades K-12.</p>
                  </div>
                </div>

                <div class="list-item row">
                  <div class="item-icon col-xs-2"><img src="/images/dist-options-3.png" alt=""></div>
                  <div class="item-text col-xs-10">
                    <h3 class="f16">30+ Technology-Enhanced Question Types</h3>
                    <p>Create your own or mix and match.</p>
                  </div>
                </div>

                <div class="list-item row">
                  <div class="item-icon col-xs-2"><img src="/images/dist-options-4.png" alt=""></div>
                  <div class="item-text col-xs-10">
                    <h3 class="f16">Immediate Performance Data</h3>
                    <p>Real-time reports by student and class.</p>
                  </div>
                </div>

                <div class="list-item row">
                  <div class="item-icon col-xs-2"><img src="/images/dist-options-5.png" alt=""></div>
                  <div class="item-text col-xs-10">
                    <h3 class="f16">Standards Mastery Tracking</h3>
                    <p>Reports by standard for students and classes.</p>
                  </div>
                </div>

                <div class="list-item row">
                  <div class="item-icon col-xs-2"><img src="/images/dist-options-6.png" alt=""></div>
                  <div class="item-text col-xs-10">
                    <h3 class="f16">School or District Sharing & Collaboration</h3>
                    <p>Share assessments or keep them private. Your choice.</p>
                  </div>
                </div>

                <div class="list-item last-row row">
                  <div class="item-icon col-xs-2"><img src="/images/dist-options-7.png" alt=""></div>
                  <div class="item-text col-xs-10">
                    <h3 class="f16">Works with Google Apps</h3>
                    <p>Google single sign-on and sync with Google Classroom.</p>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-4">
            <div class="card">
              <div class="title">
                <h2 class="f32 font-thin">Enterprise for Schools</h2>
              </div>
              <div class="color-strip second">
                <p>Per School Pricing</p>
              </div>
              <div class="bullets">

                <div class="list-item row">
                  <div class="item-icon col-xs-2"><img src="/images/dist-options-plus.png" alt="" style="max-width: 88%"></div>
                  <div class="item-text col-xs-10">
                    <h3 class="f16">Teacher Version For All Teachers, PLUS:</h3>
                    <p></p>
                  </div>
                </div>

                <hr>

                <div class="list-item row">
                  <div class="item-icon col-xs-2"><img src="/images/dist-options-8.png" alt=""></div>
                  <div class="item-text col-xs-10">
                    <h3 class="f16">Immediate Schoolwide Reports</h3>
                    <p>See performance, growth and standards mastery by grade, teacher and student.</p>
                  </div>
                </div>

                <div class="list-item row">
                  <div class="item-icon col-xs-2"><img src="/images/dist-options-9.png" alt=""></div>
                  <div class="item-text col-xs-10">
                    <h3 class="f16">Rubric Scoring</h3>
                    <p>Save and share standard rubrics schoolwide.</p>
                  </div>
                </div>

                <div class="list-item row">
                  <div class="item-icon col-xs-2"><img src="/images/dist-options-10.png" alt=""></div>
                  <div class="item-text col-xs-10">
                    <h3 class="f16">Advanced Teacher Reporting</h3>
                    <p>Compare classes. See growth by student.</p>
                  </div>
                </div>

                <div class="list-item last-row row">
                  <div class="item-icon col-xs-2"><img src="/images/dist-options-11.png" alt=""></div>
                  <div class="item-text col-xs-10">
                    <h3 class="f16">Security and Control</h3>
                    <p>Administer common assessments and control access.</p>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-4">
            <div class="card">
              <div class="title">
                <h2 class="f32 font-thin">Enterprise for Districts</h2>
              </div>
              <div class="color-strip third">
                <p>Per Student Pricing</p>
              </div>
              <div class="bullets">

                <div class="list-item row">
                  <div class="item-icon col-xs-2"><img src="/images/dist-options-plus-2.png" alt="" style="max-width: 88%"></div>
                  <div class="item-text col-xs-10">
                    <h3 class="f16">Enterprise For Schools For All Schools, PLUS:</h3>
                    <p></p>
                  </div>
                </div>

                <hr>

                <div class="list-item row">
                  <div class="item-icon col-xs-2"><img src="/images/dist-options-16.png" alt=""></div>
                  <div class="item-text col-xs-10">
                    <h3 class="f16">Immediate District-Wide Reports</h3>
                    <p>See performance, growth and standards mastery by building, grade, teacher and student.</p>
                  </div>
                </div>

                <div class="list-item row">
                  <div class="item-icon col-xs-2"><img src="/images/dist-options-15.png" alt=""></div>
                  <div class="item-text col-xs-10">
                    <h3 class="f16">Role-Based Views</h3>
                    <p>Relevant reports for district leaders, school leaders and coaches.</p>
                  </div>
                </div>

                <div class="list-item row">
                  <div class="item-icon col-xs-2"><img src="/images/dist-options-14.png" alt=""></div>
                  <div class="item-text col-xs-10">
                    <h3 class="f16">SIS & LMS Integration</h3>
                    <p>Automatic roster sync and gradebook integration <span style="font-style: italic">(where available)</span></p>
                  </div>
                </div>

                <div class="list-item row">
                  <div class="item-icon col-xs-2"><img src="/images/dist-options-13.png" alt=""></div>
                  <div class="item-text col-xs-10">
                    <h3 class="f16">Additional Item Banks</h3>
                    <p>Choose from third-party item banks, such as Inspect™.</p>
                  </div>
                </div>

                <div class="list-item last-row row">
                  <div class="item-icon col-xs-2"><img src="/images/dist-options-12.png" alt=""></div>
                  <div class="item-text col-xs-10">
                    <h3 class="f16">Expedited Technical Support</h3>
                    <p>On-call support during assessments by phone or online.</p>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container cta">
        <div class="row">
          <div class="col-xs-12 button-wrap">
            <div class="promo-content">
              <a href="http://app.edulastic.com/#signup" class="btn btn-primary btn-lg rounded-blue-btn cta f20 align-middle" target="_blank" role="cta" onclick="ga('send', 'event', { eventCategory: 'CTA Button', eventAction: 'Click', eventLabel: 'Teacher Bottom Button'});">Create a Free Account</a>
              <hr>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- <section class="create-new-ac">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <span class="create-new-desc">Get Started Now.</span>
          </div>
          <div class="col-xs-12 col-sm-6">
            <a class="btn btn-primary btn-lg f20 rounded-border-btn" href="//app.edulastic.com/" onclick="ga('send', 'event', { eventCategory: 'CTA Button', eventAction: 'Click', eventLabel: 'Bottom Button'});">
              Create a Free Account
            </a>
          </div>
        </div>
      </div>
    </section> -->
    <!--(bake ../includes/_footer.html)-->
  </div>
    <!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <!--(bake ../includes/_footer_scripts.html)-->
    <script>
    /* Replace 'APP_ID' with your app ID */
    window.intercomSettings = {
        app_id: 'aol24ajc'
    };
    /* Replace 'APP_ID' with your app ID */
    (function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/aol24ajc';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()
    </script>
</body>
</html>
